


#app {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
img {
    max-width: 400px;
    max-height: 300px;
    cursor: pointer; /* Khi trỏ chuột vào ảnh, con trỏ sẽ thành hình bàn tay */
}

#secondary-section{
    display: flex;
    gap: 3rem;
    align-items: center;
}